-e ./dagster/python_modules/dagit
-e ./dagster/python_modules/dagster
-e ./dagster/python_modules/libraries/dagster-airbyte
-e ./dagster/python_modules/libraries/dagster-airflow
-e ./dagster/python_modules/libraries/dagster-aws
-e ./dagster/python_modules/libraries/dagster-azure
-e ./dagster/python_modules/libraries/dagster-celery
-e ./dagster/python_modules/libraries/dagster-celery-docker
-e ./dagster/python_modules/libraries/dagster-celery-k8s
-e ./dagster/python_modules/libraries/dagster-dask
-e ./dagster/python_modules/libraries/dagster-databricks
-e ./dagster/python_modules/libraries/dagster-datadog
-e ./dagster/python_modules/libraries/dagster-datahub
-e ./dagster/python_modules/libraries/dagster-dbt
-e ./dagster/python_modules/libraries/dagster-docker
-e ./dagster/python_modules/libraries/dagster-duckdb
-e ./dagster/python_modules/libraries/dagster-duckdb-pandas
-e ./dagster/python_modules/libraries/dagster-duckdb-pyspark
-e ./dagster/python_modules/libraries/dagster-fivetran
-e ./dagster/python_modules/libraries/dagster-gcp
-e ./dagster/python_modules/libraries/dagster-github
-e ./dagster/python_modules/dagster-graphql
-e ./dagster/python_modules/libraries/dagster-k8s
-e ./dagster/python_modules/libraries/dagster-mlflow
-e ./dagster/python_modules/libraries/dagster-msteams
-e ./dagster/python_modules/libraries/dagster-mysql
-e ./dagster/python_modules/libraries/dagster-pagerduty
-e ./dagster/python_modules/libraries/dagster-pandas
-e ./dagster/python_modules/libraries/dagster-pandera
-e ./dagster/python_modules/libraries/dagster-papertrail
-e ./dagster/python_modules/libraries/dagster-postgres
-e ./dagster/python_modules/libraries/dagster-prometheus
-e ./dagster/python_modules/libraries/dagster-pyspark
-e ./dagster/python_modules/libraries/dagster-shell
-e ./dagster/python_modules/libraries/dagster-slack
-e ./dagster/python_modules/libraries/dagster-snowflake
-e ./dagster/python_modules/libraries/dagster-snowflake-pandas
-e ./dagster/python_modules/libraries/dagster-spark
-e ./dagster/python_modules/libraries/dagster-ssh
-e ./dagster/python_modules/libraries/dagster-twilio
-e ./dagster/python_modules/libraries/dagstermill
-e ./internal/dagster-cloud/python_modules/dagster-cloud
dbt-duckdb
responses
plotnine
requests